==== {{title}}

{{#argument}}
Arguments:
include::{snippets}/{{className}}/{{methodName}}/{{argument}}.adoc[]
{{/argument}}

===== Request Example

include::{snippets}/{{className}}/{{methodName}}/curl-request.adoc[]

===== Response Example

include::{snippets}/{{className}}/{{methodName}}/http-response.adoc[]

